* {box-sizing: border-box; }
* {font-family: 'Montserrat', sans-serif;}
* {line-height: 1.6;}
h1 {
  color: grey;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}
h2 {
  color: grey;
  font-size: 20px;
  font-weight: normal
}
h3 {
  color: grey;
  font-size: 20px;
  font-weight: normal
}
h4 {
  color: grey;
  font-size: 20px;
  font-weight: normal
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav {
  float: left;
  border-right: 1px solid #bbb;
}
li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
}
.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer {
  clear: both;
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  width: 300px;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px;
  width: 800px;
}
.clearfix::after {
  content:"";
  display: block;
  clear: both;
}
.photo-grid-container {
  display: flex;
  padding: 40px;
  flex-wrap: wrap;
}
.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-grid-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
  overflow: inherit;
  margin: 25px;
}
section a:hover {
  color: grey;
}
.dessert {
  color: #ff9999;
  text-decoration: none;
}
.circle:hover {
  border-radius:25%;
}
p {
  padding: 0;
  margin: 3px;
}
fieldset {
  border: none;
}
fieldset input {
  display: inline;
}
button, input, select, textarea {
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}
input[type=text] {
  padding:8px;
}
input[type=text]:focus {
  border: 3px solid #555;
}
